{% extends "template.html"%}
{% load staticfiles %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            {# <a href="http://jadi.net/tag/بستون">#}
            <a>
                این برنامه در حال توسعه است. اینجا را ببینید
            </a>
        </div>
    </div>
</div>


{% if message %}
<div class="bs-callout bs-callout-info">
    <h5>{{ message|safe }}</h5>
</div>
{% endif %}


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" href="/admin/">شهروندی</h3>
            </div>
            <div style="background-color:
rgb(255, 193, 7);
border-bottom-color:
rgb(255, 193, 7);
border-bottom-left-radius: 4.8px;
border-bottom-right-radius: 4.8px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color:
rgb(255, 193, 7);
border-left-style: solid;
border-left-width: 1px;
border-right-color:
rgb(255, 193, 7);
border-right-style: solid;
border-right-width: 1px;
border-top-color:
rgb(255, 193, 7);
border-top-left-radius: 4.8px;
border-top-right-radius: 4.8px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
color:
rgb(33, 37, 41);
cursor: pointer;
display: block;
font-size: 17.6px;
font-weight: 400;
line-height: 26.4px;
overflow-wrap: break-word;
margin-top: 10px;
margin-bottom: 10px;
padding-bottom: 16px;
padding-left: 16px;
padding-right: 16px;
padding-top: 16px;
text-align: center;
text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-color: currentcolor;
text-decoration-color:
rgb(33, 37, 41);
text-decoration-line: none;
text-decoration-style: solid;
transition-delay: 0s, 0s, 0s, 0s;
transition-duration: 0.15s, 0.15s, 0.15s, 0.15s;
transition-property: color, background-color, border-color, box-shadow;
transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
vertical-align: middle;
white-space: normal;
width: 536.667px;
-moz-user-select: none;">
                <a href="http://185.211.57.73/static/admin/app/APP.apk" target="_blank" class="div_button"
                   rel="nofollow" style="color: rgb(255, 255, 255); font-family: 'Yekan', sans-serif, Tahoma;">دانلود
                    نسخه اندروید</a>
            </div>
            <div class="panel-body">

            </div>
            <p>

            </p>
        </div>


        <br/><br/>



    </div>

    <div class="col-md-6">

        <div class="panel panel-default">

            <div class="panel-body">

                <div class="panel-heading">


                </div>

                <ul>

                </ul>

            </div>

        </div>

    </div>


</div>
{% endblock %}


{% block footer %}

<script>
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}


</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});


</script>
{% endblock %}
